In [ ]:
import json,datetime,pymysql
import os
import csv

conn = pymysql.connect(host='mysql.clarksonmsda.org', port=3306, user='gonuguc',
                       passwd='**********', db='gonuguc_Weather', autocommit=True)
cur = conn.cursor(pymysql.cursors.DictCursor)

sql = '''DROP TABLE IF EXISTS CSV_station
'''

cur.execute(sql)

#creating a table CSV_station and storing all the 13474 station data.
sql = """
CREATE TABLE CSV_station (
    Station_id int NOT NULL AUTO_INCREMENT,
    STATION VARCHAR(255),
    SOURCE VARCHAR(255),
    LATITUDE VARCHAR(255),
    LONGITUDE VARCHAR(255),
    ELEVATION VARCHAR(255),
    NAME VARCHAR(255),
    REPORT_TYPE VARCHAR(255),
    CALL_SIGN VARCHAR(255),
    PRIMARY KEY(Station_ID)
    )ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 AUTO_INCREMENT=1 COLLATE=utf8mb4_0900_ai_ci;
"""

cur.execute(sql)

sql = '''INSERT INTO CSV_station(STATION,SOURCE,LATITUDE,LONGITUDE,ELEVATION, NAME,REPORT_TYPE,CALL_SIGN) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)'''
folder_path = '2022'

for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        with open(file_path, 'r') as f:
            csv_reader = csv.reader(f)     
            n = 0
            for row in csv_reader:
                n += 1
                    
                if n == 2:
                    station = row[0]
                    source = row[2]
                    lat = row[3]
                    long = row[4]
                    elevate = row[5]
                    name = row[6]
                    report = row[7]
                    call = row[8]
                    tokens =[station,source,lat,long,elevate,name,report,call]
                    cur.execute(sql,tokens)
                    break